.addar.attribute.resource {
  position: relative;
}

.addar.attribute.resource a.delete-resource.config-button {
  position: absolute;
  padding: 4px;
  right: 0;
  top: 0;
  display: none;
}

.addar.attribute.resource:hover a.delete-resource.config-button {
  display: block;
}

a.addar.add-resource {
  display: flex;
  align-items: center;
  min-width: 100%;
  justify-content: center;
  border: 2px groove;
  background: rgba(0, 0, 0, 0.05);
  padding: 1px;
  order: -5;
}

.dnd5e.sheet.actor .center-pane ul.attributes li.attribute.resource {
  min-width: 115px;
  margin: 0;
}

input[type="text"][name^="flags.addar.resource"] {
  max-width: calc(100% - 1em);
}
